/*Родительский блок, который позволяет выводить дочерние блоки посередине экрана*/
.loginform_container{
    font: 12pt "Lucida Console";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto; 
}

.loginform{
    width: 305px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(1, 46, 9);
}

 .helpdesk{
    margin: 6px;
}

form.loginform{
    width: 295px;
    padding: 5px;
    box-shadow: none;
    margin-left: -1px;
    margin-bottom: -1px;
}

.row_container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.row_container label{
    display: block;
}

.warning {
    height: 20px;
    color: red;
    margin-left: 5px;
}