
<div class="loginform_container">
    <div class="loginform">
        <label class="helpdesk">HelpDesk</label>
<form class="loginform">
    <div class="row_container">
        <label>E-mail</label>
        <input type="text" [(ngModel)]="loginForm.login" id="login" required name="login"/>
    </div>
    <div class="warning">
        <label>
            {{loginWarning}}
        </label>
    </div>
    <div class="row_container">
        <label>Password</label>
        <input type="password" [(ngModel)]="loginForm.password" id="password" required name="password"/>
    </div>  
    <div class="warning">
        <label>
            {{passwordWarning}}
        </label>
    </div>
    <button (click)="sendForm()">Login</button>
</form>
</div>
</div>