<app-menu></app-menu>
<div class="page_container">
    <div class="content_container">
        <p>Feedback for ticket {{feedbackTicketId}}</p>
        <div class="main_container">
            <div class="left_column">
        <div class="form_row"> 
            <label>
                Comment for feedback
            </label>
            <input type="text" [(ngModel)]="feedbackText" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="form_row">
            <label>
                Rate
            </label>
            <select [(ngModel)]="feedbackRate" [ngModelOptions]="{standalone: true}">
                <option value = "5">5</option>
                <option value = "4">4</option>
                <option value = "3">3</option>
                <option value = "2">2</option>
                <option value = "1">1</option>
            </select>
        </div>
            </div>
            <div class="right_column">
                <button  (click)="goToOverview()">Back</button>
                <button  (click)="createFeedback()">Leave feedback</button>
            </div>
        </div>
    </div>
</div>
