

.tickets_table{
    width: 100%;
    margin-top: 10px;
    z-index: 2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(1, 46, 9);
}


.mainmenubtn {
    background-color: rgb(9, 104, 25);
    color: white;
    border: none;
    cursor: pointer;
    padding:5px;
    margin-top:10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    z-index: 2;
}
.dropdown-child a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.checked_column {
    color:red !important;
}

.tickets_table thead {
    text-align: left;
}

th.id {
    min-width: 30px;
}

th.name {
    min-width: 50px;
}