<app-menu></app-menu>

<div class="page_container">
    <div class="content_container">
        <div class="button_container">
            <button  *ngIf="userRole!='EMPLOYEE'" (click)="ticketsRequest('all')">All tickets</button>
            <button  *ngIf="userRole!='EMPLOYEE'" (click)="ticketsRequest('user')">My tickets</button>
            <button class="button_aligh-right" *ngIf="userRole!='ENGINEER'" (click)="goToCreate()">Create ticket</button>
        </div>
        <div class="row_container">
            <input [(ngModel)]="filterCriteria" (ngModelChange)="doFilter()"/>
            <select [(ngModel)]="filterOption" (ngModelChange)="doFilter()">
                <option value="id">Id</option>
                <option value="name">Name</option>
                <option value="desiredResolutionDate">Desired date</option>
                <option value="urgency">Urgency</option>
                <option value="state">Status</option>
            </select>
            <label>{{filterCriteriaWarning}}</label>
        </div>
        <table class="tickets_table sort">
            <thead>
                <tr>
                    <th class="id" (click)="sort('id')"><a [class.checked_column]="columnCheck=='id'" [routerLink]="">ID</a><label *ngIf="columnCheck=='id'" [innerHTML]="sortDirection"></label></th>
                    <th class="name" (click)="sort('name')"><a [class.checked_column]="columnCheck=='name'" [routerLink]="">Name</a><label *ngIf="columnCheck=='name'" [innerHTML]="sortDirection"></label></th>
                    <th class="desireddate" (click)="sort('desiredResolutionDate')"><a [class.checked_column]="columnCheck=='desiredResolutionDate'" [routerLink]="">Desired Date</a><label *ngIf="columnCheck=='desiredResolutionDate'" [innerHTML]="sortDirection"></label></th>
                    <th class="urgency" (click)="sort('urgency')"><a [class.checked_column]="columnCheck=='urgency'" [routerLink]="">Urgency</a><label *ngIf="columnCheck=='urgency'" [innerHTML]="sortDirection"></label></th>
                    <th class="state" (click)="sort('state')"><a [class.checked_column]="columnCheck=='state'" [routerLink]="">Status</a><label *ngIf="columnCheck=='state'" [innerHTML]="sortDirection"></label></th>
                    <th class="action">Action</th>
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor="let ticket of ticketList">
                    <td>{{ticket.id}}</td>
                    <td><a [routerLink]="" (click)="overviewTicket(ticket.id)">{{ticket.name |titlecase}}</a></td>
                    <td>{{ticket.desiredResolutionDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{ticket.urgency |titlecase}}</td>
                    <td>{{stateNormalize(ticket.state)}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="mainmenubtn">Action</button>
                            <div class="dropdown-child">
                              <a *ngIf="isRightAction('submit', ticket)" [routerLink]="" (click)="doAction(ticket, 'submit')">Submit</a>
                              <a *ngIf="isRightAction('cancel', ticket)" [routerLink]="" (click)="doAction(ticket, 'cancel')">Cancel</a>
                              <a *ngIf="isRightAction('approve', ticket)" [routerLink]="" (click)="doAction(ticket, 'approve')">Approve</a>
                              <a *ngIf="isRightAction('decline', ticket)" [routerLink]="" (click)="doAction(ticket, 'decline')">Decline</a>
                              <a *ngIf="isRightAction('asign', ticket)" [routerLink]="" (click)="doAction(ticket, 'asign')">Asign to me</a>
                              <a *ngIf="isRightAction('done', ticket)" [routerLink]="" (click)="doAction(ticket, 'done')">Done</a>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

