.history_table {
    width:100%;
}

.comments_table {
    width:100%;
}



.feedback_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: rgba(175, 175, 175, 0.349);
    padding: 10px;
    border-radius: 5px;
}

.attachments {
    margin-bottom: 20px;
    background-color: rgba(175, 175, 175, 0.349);
    padding: 10px;
    border-radius: 5px;
}

.additional_content {
    background-color: rgba(175, 175, 175, 0.349);
    padding: 10px;
    border-radius: 5px;
}


.attachment_buttons {
    margin-bottom: 8px;
}

.attachment_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.attachment_container div {
    margin: 0 5px 5px 5px;
    border-radius: 7px;
    padding-left: 7px;
    background-color:rgba(175, 175, 175, 0.568);
}

.attachment_container div a {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.719) !important;
    text-decoration: none;
    font-weight: bold;
}

.delete_button {
    border-radius: 7px;
}

.comment_input {
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 10px 8px 10px 8px;
    background-color:rgba(161, 161, 161, 0.664);
    border-radius: 5px;
}

.comments_table thead{
    text-align: left;
}

.history_table thead {
    text-align: left;
}

th.id {
    width:110px;
}

th.username {
    width: 170px;
}

td.commenttext, td.username {
    word-break: break-all;
}

.feedback_text, .feedback_rate {
    margin-left: 10px;
}

.chosen_button {
    border: 4px;
}


