<app-menu></app-menu>
<div class="page_container">
    <div class="content_container">
        <div class="main_container">
            <div class="left_column">
                <div class="form_row">
            <label>Id: </label>{{overviewedTicket.id}}
                </div>
                <div class="form_row">
            <label>Category:</label> {{overviewedTicket.category}}
                </div>
                <div class="form_row">
            <label>Urgency:</label> {{overviewedTicket.urgency  |titlecase}}
                </div>
                <div class="form_row">
            <label>Name:</label> {{overviewedTicket.name}}
                </div>
                <div class="form_row">
            <label>Desciption:</label> {{overviewedTicket.description}}
                </div>
                <div class="form_row">
            <label>Created on:</label> {{overviewedTicket.createdOn | date:'dd-MM-yyyy hh:mm'}}
                </div>
                <div class="form_row">
            <label>Desired date:</label> {{overviewedTicket.desiredResolutionDate | date:'dd-MM-yyyy'}}
                </div>
                <div class="form_row">
            <label>State:</label> {{stateNormalize(overviewedTicket.state)}}
                </div>
                <div class="form_row" *ngIf="(overviewedTicket.state!='NEW')&&(overviewedTicket.state!='DRAFT')">
                    <label>Owner:</label> {{overviewedTicket.ownerString |titlecase}}
                </div>
                <div class="form_row" *ngIf="((overviewedTicket.approverString!='')&&(overviewedTicket.approverString!=null))">
                    <label>Approver:</label> {{overviewedTicket.approverString |titlecase}}
                </div>
                <div class="form_row" *ngIf="((overviewedTicket.asigneeString!='')&&(overviewedTicket.asigneeString!=null))">
                    <label>Asignee:</label> {{overviewedTicket.asigneeString |titlecase}}
                </div> 
            </div>
            <div class="right_column">
                <button *ngIf='overviewedTicket.state=="DRAFT"' class="button_aligh-right" (click)="editTicket()">Edit</button>
                <button  *ngIf='showButtonForLeaveFeedback()' (click)="leaveFeedback()">Leave feedback!</button>
                <button  (click)="goToTickets()">Back</button>
            </div>
        </div>
        <div *ngIf='feedback!=null' class="feedback_container">
            <label>Feedback:</label><div class="feedback_text">{{feedback.text}}</div><div class="feedback_rate">{{feedback.rate}}</div>
        </div>
        <div class="attachments">
            <div class="attachment_buttons">
                <label>Attachments: </label>
                    <input
            style="display: none"
            #fileInput
            type="file" (change)="onFileSelected($event)" >
                <button *ngIf="((selectedFile==null)&&(showButtonForAddAttachment()))" type="button" (click)="fileInput.click()">Pick File</button>
                <button *ngIf="((selectedFile!=null)&&(showButtonForAddAttachment()))" type="button" (click)="onUpload()">Upload</button>
                <label *ngIf="((selectedFile!=null)&&(showButtonForAddAttachment()))">{{selectedFile.name}}</label>
                <label>{{fileSelectAlert}}</label>
            </div>
            <div class="attachment_container">
                <div *ngFor='let attachment of attachmentList'>
                    <a [routerLink]="" (click)="downloadAttachment(attachment.id, attachment.name)">
                        {{attachment.name}}
                    </a>
                    <button class="delete_button" *ngIf="showButtonForAddAttachment()" type="button" (click)="deleteAttachment(attachment.id)">X</button>
                </div>
            </div>
        </div>
        <div class="additional_content">
            <div class="button_container">
            <button  (click)="showComments()">Comments</button>
            <button  class="button_aligh-right" (click)="showHistory()">History</button>
            </div>
            <div *ngIf='displayComments'>
                <table class="comments_table" *ngIf="commentList.length!=0">
                    <thead>
                        <tr>
                            <th class="id">Date</th>
                            <th class="username">User name</th>
                            <th class="commenttext">Comment</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let comment of commentList">
                            <td class="id">{{comment.date | date:'dd.MM.yy hh:mm'}}</td>
                            <td class="username">{{comment.userName}}</td>
                            <td class="commenttext">{{comment.text}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="isCommentHidden" class="form_row">
                    <button (click)="showAllComments()">Show all comments</button>
                </div>
                <div class="form_row comment_input"> 
                    <label>
                        Comment
                    </label>
                    <input type="text" [class.incorrect_field]="!isCommentCorrectFlag" [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}" (ngModelChange)='onCommentChange()'/>
                    <button class="button_aligh-right" (click)="createComment()">Leave comment</button>
                </div>
            </div>
            <div *ngIf='!displayComments'>
                <table class="history_table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Action</th>
                            <th>Description</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of historyList">
                            <td>{{history.date | date:'dd.MM.yy hh:mm'}}</td>
                            <td>{{history.userName}}</td>
                            <td>{{history.action}}</td>
                            <td>{{history.description}}</td>
                        </tr>
                    </tbody>
                </table>
                <div  *ngIf="isHistoryHidden" class="form_row">
                    <button (click)="showAllHistory()">Show all history</button>
                </div>
            </div>
        </div>
    </div>
</div>

