<app-menu></app-menu>
<div class="page_container">
    <div class="content_container">
        <div class="main_container">
            <div class="left_column">
    <div class="form_row"> 
        <label>
            Name
        </label>
        <input [class.incorrect_field]="!isNameCorrectFlag" type="text" [(ngModel)]="editForm.name" [ngModelOptions]="{standalone: true}" (ngModelChange)='onNameChange()'/>
    </div>
    <div class="form_row">
        <label>
            Description
        </label>
        <input [class.incorrect_field]="!isDescriptionCorrectFlag" type="text" [(ngModel)]="editForm.description" id="description"  [ngModelOptions]="{standalone: true}" (ngModelChange)='onDescriptionChange()'/>
    </div>
    <div class="form_row">
        <label>
            Desired resolution date
        </label>
        <input type="date" id="start"
       value="{{dateMin}}"
       min="{{dateMin | date:'yyyy-MM-dd'}}" max="2021-11-11" [(ngModel)]="editForm.desiredResolutionDate" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="form_row">
        <label>
            Urgency
        </label>
        <select [(ngModel)]="ticketUrgency" [ngModelOptions]="{standalone: true}">
            <option value = "{{urgency.CRITICAL}}">{{urgency.CRITICAL |titlecase}}</option>
            <option value = "{{urgency.HIGH}}">{{urgency.HIGH |titlecase}}</option>
            <option value = "{{urgency.MEDIUM}}">{{urgency.MEDIUM |titlecase}}</option>
            <option value = "{{urgency.LOW}}">{{urgency.LOW |titlecase}}</option>
        </select>
    </div>
    <div class="form_row">
        <label>
            Category
        </label>
        <select [(ngModel)]="editForm.category" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
        </select>
    </div>
    <div class="form_row"> 
        <label>
            Comment
        </label>
        <input type="text" [class.incorrect_field]="!isCommentCorrectFlag" [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}" (ngModelChange)='onCommentChange()'/>
    </div>
    <div class="form_row" *ngIf='createInputWarningFlag'>
        <label>Incorrect input fields</label>
    </div>
    <div class="form_row" *ngIf='createSelectWarningFlag'>
        <label>Select or fill required fields</label>
    </div>
            </div>
            <div class="right_column">
                <button  (click)="editTicket()">Edit</button>
                <button  (click)="goToOverview()">Back</button>
            </div>
        </div>
    </div>
</div>

