<app-menu></app-menu>
<div class="page_container">
    <div class="content_container">
        <div class="form_row">
            <input
    style="display: none"
    #fileInput
    type="file" (change)="onFileSelected($event)" >
        </div>
        <div *ngFor='let attachment of attachmentList' class="form_row">
            <a [routerLink]="" (click)="downloadAttachment(attachment.id, attachment.name)">
                {{attachment.name}}
            </a>
            <button type="button" (click)="deleteAttachment(attachment.id)">Delete</button>
        </div>
        <div class="form_row">
            <button *ngIf="selectedFile==null" type="button" (click)="fileInput.click()">Pick File</button>
            <button *ngIf="selectedFile!=null" type="button" (click)="onUpload()">Upload</button>
            <label *ngIf="selectedFile!=null">{{selectedFile.name}}</label>
        </div>
        <div class="button_container">
            <button  (click)="goToTickets()">To tickets</button>
        </div>
    </div>
</div>