/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.page_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.content_container {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.button_container {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.button_aligh-right {
    margin-left: auto;
}

.form_row{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.form_row label {
    display: block;
    width: 170px;
}

body {
    margin: 10px !important;
}

.incorrect_field:focus {
    outline-color: red;
}

.incorrect_field {
    border-color: red;
    border-radius: 3px;
    border-width: 2px;
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgba(175, 175, 175, 0.349);
    border-radius: 5px;
}

.left_column {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.right_column {
    display: flex;
    flex-direction: column;

}

.right_column button {
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
}
