.app_header{
    padding: 10px 0 0 10px;

    width: 99%;
    height: 30px;
    background-color: grey;
    color: honeydew;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.logout_button{
    margin-bottom: 10px;
    margin-right: 10px;
}

.login_container label{
    margin-right: 10px;
}