<div class="app_header">
    <label>HelpDesk
    </label>
    <div class="login_container">
        <label>{{userLogin}}</label>
    <button class="logout_button" (click)="logout()">Logout</button>
    </div>
</div>
