<app-menu></app-menu>
<div class="page_container">
    <div class="content_container">
        <form id="create_form"> 
            <div class="form_row"> 
                <label>
                    Comment
                </label>
                <input type="text" [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="button_container">
                <button  (click)="goToOverview()">Back</button>
                <button class="button_aligh-right" (click)="createComment()">Leave comment</button>
            </div>
        </form>
    </div>
</div>