<app-menu></app-menu>
<div class="page_container">
    <div class="content_container">
<p>New ticket</p>
<div class="main_container">
    <div class="left_column">
<form id="create_form"> 
    <div class="form_row"> 
        <label>
            Name
        </label>
        <input type="text" [class.incorrect_field]="!isNameCorrectFlag" [(ngModel)]="createForm.name" [ngModelOptions]="{standalone: true}" (ngModelChange)='onNameChange()'/>
    </div>
    <div class="form_row">
        <label>
            Description
        </label>
        <input type="text" [class.incorrect_field]="!isDescriptionCorrectFlag" [(ngModel)]="createForm.description" id="description"  [ngModelOptions]="{standalone: true}" (ngModelChange)='onDescriptionChange()'/>
    </div>
    <div class="form_row">
        <label>
            Desired resolution date
        </label>
        <input type="date" id="start"
       value="{{dateMin}}"
       min="{{dateMin | date:'yyyy-MM-dd'}}" max="2021-11-11" [(ngModel)]="createForm.desiredResolutionDate" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="form_row">
        <label>
            Urgency
        </label>
        <select [(ngModel)]="createForm.urgency" [ngModelOptions]="{standalone: true}">
            <option value = "{{urgency.CRITICAL}}">Critical</option>
            <option value = "{{urgency.HIGH}}">High</option>
            <option value = "{{urgency.MEDIUM}}">Medium</option>
            <option value = "{{urgency.LOW}}">Low</option>
        </select>
    </div>
    <div class="form_row">
        <label>
            Category
        </label>
        <select [(ngModel)]="createForm.category" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
        </select>
    </div>
    <div class="form_row"> 
        <label>
            Comment
        </label>
        <input type="text" [class.incorrect_field]="!isCommentCorrectFlag" [(ngModel)]="commentText" [ngModelOptions]="{standalone: true}" (ngModelChange)='onCommentChange()'/>
    </div>
    <div class="form_row" *ngIf='createInputWarningFlag'>
        <label>Incorrect input fields</label>
    </div>
    <div class="form_row" *ngIf='createSelectWarningFlag'>
        <label>Select or fill required fields</label>
    </div>
    <div class="form_row" *ngIf='createCommentWarningFlag'>
        <label>Incorrect comment text</label>
    </div>
</form>
</div>
<div class="right_column">
    <button  (click)="goToTickets()">Back</button>
    <button  (click)="createTicket('new')">New</button>
    <button  (click)="createTicket('draft')">Draft</button>
</div>
</div>

    </div>
    </div>

